<a href="https://colab.research.google.com/github/eirenwibi/2025_KB_TI-1B/blob/main/Jobsheet_3_Kecerdasan_Buatan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Jobsheet 3 : Pengukuran Statistik Deskriptif

#Latihan

###1. Central Tendency

####a. Mendapatkan Nilai Mean

In [ ]:
import numpy as np

score = [90, 80, 70, 65, 110, 80, 83, 67, 94]

x = np.mean(score)
print(x)

82.11111111111111

####b. Mendapatkan Nilai Median

In [ ]:
import numpy as np

score = [90, 80, 70, 65, 110, 80, 83, 67, 94]

x = np.median(score)
print(x)

80.0

####c. Mendapatkan Nilai Modus/Mode

In [ ]:
from scipy import stats

score = [90, 80, 70, 65, 110, 80, 83, 67, 94]

x = stats.mode(score, keepdims=True)
print("Modus =", x.mode)
print("Jumlah kemunculan Modus =", x.count)

Modus = [80]
Jumlah kemunculan Modus = [2]

###2. Spread

####a. Mendapatkan Nilai Range

In [ ]:
import numpy as np

data = [2, 3, 7, 8, 9, 12, 15, 20, 50, 42]

minimum = np.min(data)
maximum = np.max(data)

x = maximum - minimum
print(x)

48

####b. Mendapatkan Nilai Percentile

In [ ]:
import numpy as np

data = [90, 80, 70, 65, 110, 80, 83, 67, 94]

x = np.percentile(data, 90)
print(x)

97.2

####c. Mendapatkan Nilai Quartile dan Interquartile Range

In [ ]:
import numpy as np

data = [3, 4, 4, 5, 5, 6, 6, 7, 8, 8, 9, 10]

Q1 = np.median(data[:int(len(data)/2)])
Q3 = np.median(data[int(len(data)/2):])
IQR = Q3 - Q1
Q1, Q3, IQR

print("Q1 =", Q1)
print("Q3 =", Q3)
print("IQR =", IQR)

Q1 = 4.5
Q3 = 8.0
IQR = 3.5

####d. Mendapatkan Nilai Variance dan Standart Deviation

In [ ]:
import numpy as np

data = [86, 87, 88, 86, 87, 85, 86]

mean = np.mean(data)
var = np.var(data)
std = np.std(data)
mean, var, std

print("Mean =", mean)
print("Variance =", var)
print("Standart Deviation =", std)

Mean = 86.42857142857143
Variance = 0.8163265306122449
Standart Deviation = 0.9035079029052513

##Tugas Praktikum

###1. Pelemparan dadu sebanyak 25 kali. Angka yang keluar datanya adalah : 1 2 3 4 5 5 6 2 3 4 5 6 6 4 3 2 1 4 3 5 6 6 5 4 5. Modus dari data diatas adalah...

In [ ]:
from scipy import stats

score = [1, 2, 3, 4, 5, 5, 6, 2, 3, 4, 5, 6, 6, 4, 3, 2, 1, 4, 3, 5, 6, 6, 5, 4, 5]

x = stats.mode(score, keepdims=True)
print("Modus dari data tersebut adalah = ", x.mode)
print("Jumlah kemunculan Modus =", x.count)

Modus dari data tersebut adalah =  [5]
Jumlah kemunculan Modus = [6]

###2. Diketahui sebuah deret data 9, 10, 11, 6, 8, 7, 7, 5, 4, 5. Tentukan persentil ke-25 dan persentil ke-75!

In [ ]:
import numpy as np

data = [9, 10, 11, 6, 8, 7, 7, 5, 4, 5]

x = np.percentile(data, 25)
y = np.percentile(data, 75)

print("Nilai Persentil ke-25 =", x)
print("Nilai Persentil ke-75 =", y)

Nilai Persentil ke-25 = 5.25
Nilai Persentil ke-75 = 8.75

###3. Pada sebuah kelas memiliki nilai hasil ujian yaitu 50, 54, 62, 50, 52, 59, 61, 63, 65, 10, 53, 63, 65, 50, 59, 62, 50, 51, 57, 60, 63, 65, 65, 53, 99. Beradasarkan data hasil ujian tersebut, tentukan : a.	Urutkan data dari yang terkecil sampai data yang terbesar. b.	Identifikasi nilai first quartile (Q1) dan third quartile (Q3), dan IQR. c.	Tentukan nilai upper bound dan lower bound. d.	Tentukan nilai ujian yang menjadi outlier berdasarkan data hasil ujian diatas

In [ ]:
data = [50, 54, 62, 50, 52, 59, 61, 63, 65, 10, 53, 63, 65, 50, 59, 62, 50, 51, 57, 60, 63, 65, 65, 53, 99]
data.sort()

print("Urutan data dari yang terkecil ke data yang terbesar adalah ", data)

Urutan data dari yang terkecil ke data yang terbesar adalah  [10, 50, 50, 50, 50, 51, 52, 53, 53, 54, 57, 59, 59, 60, 61, 62, 62, 63, 63, 63, 65, 65, 65, 65, 99]

In [ ]:
import numpy as np

data = [10, 50, 50, 50, 50, 51, 52, 53, 53, 54, 57, 59, 59, 60, 61, 62, 62, 63, 63, 63, 65, 65, 65, 65, 99]

Q1 = np.median(data[:int(len(data)/2)])
Q3 = np.median(data[int(len(data)/2):])
IQR = Q3 - Q1

print("Q1 =", Q1)
print("Q3 =", Q3)
print("IQR =", IQR)

Q1 = 51.5
Q3 = 63.0
IQR = 11.5

In [ ]:
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

print("Lower Bound =", lower_bound)
print("Upper Bound =", upper_bound)

Lower Bound = 34.25
Upper Bound = 80.25

In [ ]:
outliers = [x for x in data if x < lower_bound or x > upper_bound]
print("Outlier:", outliers)

Outlier: [10, 99]

###4. Hitunglah standart deviasi dari data berat badan mahasiswa informatika tersebut

In [ ]:
import numpy as np

# Data kelas dan frekuensi
kelas = [(41, 45), (46, 50), (51, 55), (56, 60), (61, 65), (66, 70)]
frekuensi = [2, 3, 6, 4, 5, 2]

# Hitung titik tengah tiap kelas
titik_tengah = [(k[0] + k[1]) / 2 for k in kelas]

# Hitung jumlah data
n = sum(frekuensi)

# Hitung fi * xi dan fi * xi^2
fi_xi = [f * x for f, x in zip(frekuensi, titik_tengah)]
fi_xi2 = [f * x**2 for f, x in zip(frekuensi, titik_tengah)]

# Hitung standar deviasi dengan rumus:
# s = sqrt(Σ(fi*xi²)/n - (Σ(fi*xi)/n)²)
rata_xi = sum(fi_xi) / n
standar_deviasi = np.sqrt((sum(fi_xi2) / n) - (rata_xi ** 2))

print("Standar Deviasi Berat Badan Mahasiswa Informatika =", round(standar_deviasi, 2), "kg")

Standar Deviasi Berat Badan Mahasiswa Informatika = 7.18 kg